pandas>=1.5.0
numpy >= 1.21.0
setuptools >= 65.0.0

# modèle & embeddings (vecteurs)
sentence-transformers == 2.2.2


# API 
fastapi == 0.104.1
uvicorn == 0.23.2
pydantic == 2.5.0


# tests
pytest == 8.4.2


